/*font-family: 'Dancing Script', cursive;
  font-family: 'Jacques Francois', serif;
  font-family: 'Poppins', sans-serif;*/

body, html {
  font-family: 'Jacques Francois', serif;
  background-color: #faefff;
}

/*my banner*/
.banner img {
  width: 100%;
  max-width: 100%;
  position: relative;
  height: 500px;
  opacity: 0.8;
}

/*association name with the text that appears in the left of my banner */
h1 {
  font-size: 8vmin;
  font-weight: bolder;
  color: black;
  font-family: 'Dancing Script', cursive;
  position: absolute;
  top: 5%;
  left: 5%;
  text-shadow:4px 4px 14px #969696;
  letter-spacing: 1px;
}

.banner-text {
  position: absolute;
  top: 16%;
  left: 5%;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  line-height: 6vmin;
  letter-spacing: 1px;
  font-size: 1.2rem;
  text-shadow:4px 4px 14px #969696;
  color: #3d0f0f;
}

@media screen and (max-width:767px) {
  .banner-text {
    position: static;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-shadow: none; 
  }
}


/*donation card with the navbar style*/

.donation-card, .nav-bar {
  border-radius: 12px;
}

@media screen and (min-width: 903px) and (max-width: 991px) {
  .donation-card {
    padding-top: 5vh;
  }
}
@media screen and (min-width: 1203px) {
  .donation-card {
    padding-top: 5vh;
  }
}

.btn-custom, .actv-btn {
  color: white;
  background: #7d3f8a;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

/*Carousel style*/
.carousel-caption {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
}
.carousel .carousel-item {
  height: 500px;
}

.carousel-item img, 
iframe {
    min-height: 500px;
}

.carousel-inner h5 {
  font-weight: bolder;
  line-height: 3rem;
  font-size: 1.5rem;
  
}

/*search space style*/
.search-text {
	margin-top: 50px;
	background-color: #33144d;
	padding-top: 60px;
	padding-bottom: 60px;
}
	
.search-text .input-search {
	height: 45px;
	width: 40%;
	padding-left: 20px;
} 

.search-text .btn-search {
    background: #7d3f8a ;
    border: none;
	  color: #FFF;
	  height: 45px;
    width: 90px;
}

.search-text h4 {
    color: #FFF;
    font-weight: bold;
    letter-spacing: 2px;
}

@media screen and (max-width: 575px){
  input.input-search {
  font-size: 3.5vmin;
  }
}
/*Footer style*/

footer {
    background-color: #80708f;
    padding: 30px 0px;
    margin-top: 2rem;
}	       

.logo {
    color: #FFF;
    letter-spacing: 3px;
    font-family: 'Dancing Script', cursive, sans-serif;
    font-weight: 550;
    line-height: 3rem;
    font-size: 1.5rem;
}
 
.menu span {
   color: #FFF; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding: 10px 0px;
   display: block;
   text-transform: uppercase;
   letter-spacing: 3px;
}
 
.legal-notice li a, 
.menu li a {
    color: #FFF;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 14px;
}

.legal-notice li, 
.menu li {
    margin: 20px 0px;
    list-style: none;
}

.legal-notice li a:hover, 
.menu li a:hover {
    color: #371f41;
}

.contact {
  border-bottom: 1px solid #c7c7c7; 
  padding: 10px 0px;
  display: block;
  padding-top: 4rem;
}

/*back to top button*/
.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #7d3f8a;
  color: #fff;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



.back-to-top:hover, .bi:hover, .btn:hover, .btn-search:hover {
  transform: translateY(0) scale(1.1);